* {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: Plain, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 500;
}

button {
  cursor: pointer;
}

.baseLayayout_navBar {
  background-color: #18354e;
}

.sitenav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(181, 233, 253, 0.4);
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  position: relative;
}
.siteBarBody {
  max-width: 1393.6px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  background: 0 0;
  text-decoration: none;
  color: inherit;
}

.sitenav a {
  font-size: 1rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #46c8fa;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.sitenav ul {
  display: flex;
}

.sitenav ul + ul {
  margin-left: auto;
}

.sitenav li {
  margin-left: 2.8rem;
}

.sitenav li:first-child {
  margin-left: 0;
}

.secondNav {
  min-height: 8rem;
  color: #ffff;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1rem;
  padding-left: 2.85rem;
  padding-right: 2.85rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(181, 233, 253, 0.4);
}

.baseLayout_breadcrumbs {
  position: absolute;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 300;
  width: 100%;
  background-color: #18354e;
  z-index: 0;
}

.baseLayout_breadcrumbsBd {
  max-width: 1384px;
  margin-left: 10rem;
  margin-right: auto;
  font-weight: 300;
}

.baseLayout__breadcrumbsItem {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.headerBreadcrumbToggle {
  color: #46c8fa;
  transition: color 3s;
  position: relative;
}

.headerBreadcrumbToggle_toggle {
  outline: 0;
  background: 0 0;
  border: none;
  border-radius: 0;
  padding: 0 0 0 3.6rem;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  display: block;
  height: 3.6rem;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 100%;
}

.secondarynav_body {
  max-width: 1384px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.secondnav_right {
  display: flex;
  margin-top: 2.2rem;
  margin-left: auto;
  width: calc(100% / 2 - 4.8rem / 2 + 0rem);
}

.secondnav_right a {
  display: block;
  padding-top: 2rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  padding-bottom: 3rem;
  position: relative;
}

.baseLayout_content {
  width: 100%;
  overflow: hidden;
}

.headerSlider {
  overflow: hidden;
  background-color: #18354e;
}

.headerSlider_bd {
  position: relative;
  max-width: 1384px;
  margin-left: auto;
  margin-right: auto;
}

.steppedCarousel {
  position: relative;
}

@media screen and (min-width: 48em) {
  .baseLayout_breadcrumbsBd {
    position: relative;
    float: left;
  }
  .headerSlider {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    padding-top: 5rem;
  }
  .baseLayout_breadcrumbs {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
  .headerSlider_slidesWrapper {
  }
}

@media screen and (min-width: 92.5em) {
  .headerSlider_slidesWrapper {
    left: calc(-1 * (100vw - 1384px) / 2);
    width: calc(100% + (100vw - 1384px) / 2);
  }
}
